<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OS" value="windows"/>
		<add key="Browser" value="Firefox"/>
		<add key="RemoteNode" value="http://localhost:5566/wd/hub"/>
		<add key="StartUrl" value="https://mail.yandex.by"/>
		<add key="User" value="DzianisM6"/>
		<add key="Password" value="HometaskM6"/>
		<add key="ElementTimeout" value="30"/>
	</appSettings>
</configuration>